{% extends 'samples_app_base.html' %}
{% load virustotal %}
{% load crispy_forms_tags %}
{% block content %}

{% for filetype in object.filetypes.all %}
    {{ filetype }}<br />
{% endfor %}

{% for filename in object.filenames.all %}
    {{ filename.name }}<br />
{% endfor %}

{% for source in object.sources.all %}
    {{ source.name }}
{% endfor %}

{{ object.size }}<br />
{{ object.crc32 }}<br />
{{ object.md5 }}<br />
{{ object.sha1 }}<br />
{{ object.sha256 }}<br />
{{ object.sha512 }}<br />
{{ object.ssdeep }}<br />

{% for descr in object.description_set.all %}
    {{ descr.text }}<br />
{% endfor %}

<a href="{{ object.sha256 | virustotal_link}}">VirusTotal</a><br />
<a href='{% url 'sample.update' object.sha256 %}'>update<br />
{% endblock content %}
