{% extends 'samples_app_base.html' %}
{% load virustotal %}
{% block content %}
<br />
<form action='' method='post'>
    {% csrf_token %} {{ filter_form.as_p }}
    <input type='submit' name='submit' value='submit'>
</form>

{% for object in object_list %}
{{ object.name }}
{{ object.desc }}
{{ object.filetype }}
{{ object.md5 }}
<a href='{% url ' malware.profile ' object.sha256 %}'>{{ object.sha256 }}
<a href='{{ object.sha256 | virustotal_link}}'>VirusTotal</a>
<br />
<a href='{% url ' malware.update ' object.sha256 %}'>update</a>
<a href='{% url ' malware.delete ' object.sha256 %}'>delete</a>
<a href='{% url ' malware.download ' object.sha256 %}'>download</a>
{% empty %}
{% endfor %}

{% endblock content %}
