{% extends 'samples_app_base.html' %}
{% load virustotal %}
{% block content %}
<br />
<form action='' method='post'>
    {% csrf_token %} {{ filter_form.as_p }}
    <input type='submit' name='submit' value='submit'>
</form>

{% for object in object_list %}

    {{ object.md5 }}<br />

    {% for filename in object.filenames.all %}
        {{ filename }}<br />
    {% endfor %}
    {% for filetype in object.filetypes.all %}
        {{ filetype.detector }} {{ filetype.filetype }}<br />
    {% endfor %}

    <a href='{{ object.sha256 | virustotal_link}}'>VirusTotal</a><br />
    <a href='{% url 'sample.update' object.sha256 %}'>update<br />
    <a href='{% url 'sample.detail' object.sha256 %}'>detail<br />
    <a href='{% url 'sample.delete' object.sha256 %}'>delete</a><br />
    <a href='{% url 'sample.download' object.sha256 %}'>download</a><br />
    <br />
{% empty %}
{% endfor %}

{% endblock content %}
