{% extends 'samples_app_base.html' %}

{% load virustotal %}

{% block content %}
<br />
<form action='' method='post'>
    {% csrf_token %}
    {{ filter.as_p }}
    <input type='submit' name='submit' value='submit'>
</form>
<h2 class="ui header">Recently</h2>
<div class="ui selection list">
    {% for object in object_list %}
    <div class="item">
            <div class="header">
                <h4 class="ui header">
                {{ object.name }}
                <div class="sub header">form {{ object.source }}</div>
                </h4>
            </div>
            <div class="description">
                {% if object.desc %}
                <p>{{ object.desc }}</p>
                {% endif %}
                <p>{{ object.type }}</p>
                <p>MD5 {{ object.md5 }}</a></p>
                <p>SHA256 <a href='{% url 'malware.profile' object.sha256 %}'>{{ object.sha256 }}</a></p>
                <p><a href='{{ object.sha256 | virustotal_link}}'>VirusTotal</a></p>
                <p></p>
                <div class="right floated tiny ui buttons">
                    <a class="ui button" href='{% url 'malware.update' object.sha256 %}'><i class="ui edit icon"></i></a>
                    <a class="ui button" href='{% url 'malware.delete' object.sha256 %}'><i class="ui trash icon"></i></a>
                    <a class="ui button" href='{% url 'malware.download' object.sha256 %}'><i class="ui download icon"></i></a>
                    <a class="ui button" href='{% url 'malware.publish' object.sha256 %}'><i class="ui share icon"></i></a>
                </div>
            </div>
    </div>
    {% empty %}
    {% endfor %}
</div>
{% endblock content %}
