{% extends 'samples_app_base.html' %}
{% load virustotal %}
{% load crispy_forms_tags %}
{% block content %}

{% for filetype in object.filetypes.all %}
    {{ filetype }}<br />
{% endfor %}

{% for filename in object.filenames.all %}
    {{ filename.name }}
    {% if filename.user == request.user %}
        <a href="{% url 'filename.remove' object.sha256 filename.pk %}">remove</a>
        <a href="{% url 'filename.delete' filename.pk %}">delete</a><br />
    {% endif %}
{% endfor %}
<a href="{% url 'filename.append' object.sha256 %}">add</a><br />

{% for source in object.sources.all %}
    {{ source.name }}
    {% if source.user == request.user %}
        <a href="{% url 'source.remove' object.sha256 source.pk %}">remove</a><br />
    {% endif %}
{% endfor %}
<a href="{% url 'source.append' object.sha256 %}">add</a><br />


{{ object.size }}<br />
{{ object.crc32 }}<br />
{{ object.md5 }}<br />
{{ object.sha1 }}<br />
{{ object.sha256 }}<br />
{{ object.sha512 }}<br />
{{ object.ssdeep }}<br />

{% for descr in object.description_set.all %}
    {{ descr.text }}
    {% if descr.user == request.user %}
        <a href="{% url 'descr.update' descr.pk %}">update</a>&nbsp;
        <a href="{% url 'descr.delete' descr.pk %}">delete</a><br />
    {% endif %}
{% endfor %}
<a href="{% url 'descr.create' object.sha256 %}">add</a><br />

<a href="{{ object.sha256 | virustotal_link}}">VirusTotal</a><br />

{% endblock content %}
