Cython==0.20.1
Django==1.6.2
South==0.8.4
amqp==1.4.5
anyjson==0.3.3
billiard==3.3.0.18
celery==3.1.13
django-celery==3.1.10
gevent==1.0.1
greenlet==0.4.2
kombu==3.0.21
pymongo==2.7.1
python-magic==0.4.6
pytz==2014.4
ssdeep==2.9-0.3
wsgiref==0.1.2
django-haystack==2.2.1
haystack==0.15
