{% extends 'sharing_base.html' %}

{% block content %}
<table class="ui basic table">
    <thead>
        <tr>
            <th>Default</th>
            <th>Name</th>
            <th>Host</th>
            <th>Port</th>
            <th>Identity</th>
            <th>Secret</th>
            <th>Subscribe channels</th>
            <th>Publish channels</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{ object.default }}</td>
            <td>{{ object.name }}</td>
            <td>{{ object.host }}</td>
            <td>{{ object.port }}</td>
            <td>{{ object.identity }}</td>
            <td>
                {{ object.secret }}
            </td>
            <td>{{ object.subchans }}</td>
            <td>{{ object.pubchans }}</td>
            <td>
                <div class="ui tiny buttons">
                    <a class="ui button" href='{% url 'channel.update' object.id %}'><i class="ui edit icon"></i></a>
                    <a class="ui button" href='{% url 'channel.delete' object.id %}'><i class="ui trash icon"></i></a>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='9'>No channel yet.</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan='9'>Total: {{ object_list.count }}</th>
        </tr>
    </tfoot>
</table>
{% endblock content %}
