{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>MAZU - Malware Repository</title>
    {% include 'base_head.html' %}
</head>

<body>

    {% block menu %}
        {% include 'base_menu.html' %}
    {% endblock menu %}
    <br />

    {% block header %}
    {% endblock header %}
    <br />

    {% block breadcrumb %}
    {% endblock breadcrumb %}
    <br />

    <form method="get" action="/search/">
        {% csrf_token %}
        <input name="q" type="text" placeholder="">
        <input name="models" type="hidden" value="samples.sample">
        <input name="submit" type="submit" value="search" />
    </form>
    <br />

    {% block secondarymenu %}
    {% endblock secondarymenu %}
    <br />

    {% block message %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endblock message %}
    <br />

    {% block content %}
    {% endblock content %}
    <br />

    {% block pagination %}
    {% endblock pagination %}
    <br />

    {% block footer %}
        {% include 'base_foot.html' %}
    {% endblock footer %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    {% block javascript %} {% endblock javascript %}
</body>

</html>
