{% load coretags %}
<div class="ui selection list">
    <div class="item {% active request "^/$" %}">
        <a>Home</a>
    </div>
    <div class="item {% active request "^/malware/list/$" %}">
        <a href="{% url 'malware.list' %}">Malware</a>
    </div>
    {% if perms.authkey.add_authkey and perms.authkey.change_authkey and perms.authkey.delete_authkey%}
    <div class="item {% active request "^/authkey/list/$" %}">
        <a href="{% url 'authkey.list' %}">Authkey</a>
    </div>
    {% endif %}
    <div class="item {% active request "^/channel/list/$" %}">
        <a href="{% url 'channel.list' %}">Channel</a>
    </div>
    <div class="item {% active request "^/passwd$" %}">
        <a href="{% url 'user.passwd' %}">Change Password</a>
    </div>
    <div class="item">
        <a href="{% url 'user.logout' %}">Logout</a>
    </div>
</div>
