{% load coretags %}
<div class="ui selection list">
    <div class="item {% active request "^/$" %}">
        <a>Home</a>
    </div>
    <div class="item {% active request "^/malware/list/$" %}">
        <a href="{% url 'malware.list' %}">Malware</a>
    </div>
    <div class="item {% active request "^/authkey/list/$" %}">
        <a href="{% url 'authkey.list' %}">Authkey</a>
    </div>
    <div class="item {% active request "^/channel/list/$" %}">
        <a href="{% url 'channel.list' %}">Channel</a>
    </div>
</div>
