{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static 'semantic/collections/grid.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'semantic/collections/breadcrumb.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'semantic/collections/menu.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'semantic/collections/form.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'semantic/collections/table.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'semantic/views/list.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'semantic/views/item.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'semantic/elements/input.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'semantic/elements/divider.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'semantic/elements/header.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'semantic/elements/label.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'semantic/elements/button.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'semantic/elements/icon.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'semantic/elements/segment.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/layout.css' %}" />
