{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static 'semantic/collections/menu.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'semantic/collections/grid.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'semantic/collections/form.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'semantic/elements/icon.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'semantic/elements/input.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'semantic/elements/segment.css' %}" />

<link type="text/css" rel="stylesheet" href="{% static 'css/layout.css' %}" />
