{% extends 'base.html' %} 

{% block header %}
<div class="ui icon center aligned header">
    <i class="circular massive open folder icon"></i>Notification
</div>
{% endblock header %}

{% block content %}
<div class="ui segment">
    <table class="ui basic table">
        <thead>
            <tr>
                <th class="one wide">Detail</th>
                <th class="one wide">Subject</th>
                <th class="one wide">Message</th>
                <th class="one wide">Read</th>
            </tr>
        </thead>
        <tbody>
            {% for notification in object_list %}
            <tr>
                <td>{% url 'notification.detail' notification.id %}</td>
                <td>{{ notification.subject }}</td>
                <td>{{ notification.message }}</td>
                <td>{{ notification.read }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endif %}
</div>
{% endblock content %}
